<div
  class="modal"
  id="orderModal"
  tabindex="-1"
  aria-labelledby="orderModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">
          {{ orderNowModal.title }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onCloseOrderModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p [innerHTML]="orderNowModal.content"></p>
      </div>
    </div>
  </div>
</div>
