<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="images/logo.png" alt="Footer logo" />
      </div>
      <div class="col-md-8">
        <ul>
          <li><i class="bi bi-envelope"></i> fodor.rita93&#64;gmail.com</li>
          <li><i class="bi bi-telephone"></i> 0740-519-728</li>
          <li>
            <a href="https://www.facebook.com/fessunkalmokat" target="_blank">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.youtube.com/channel/UC8k-FDteZbJ0fdRh1gx1XyA" target="_blank">
              <i class="bi bi-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <p>&copy; 2025 Fessünk álmokat. All rights reserved.</p>
    </div>
  </div>
</footer>
