<div class="container-fluid home-page-title-container">
  <h1 class="home-page-title">Fessünk Álmokat Mentálhigiénés Műhely</h1>
</div>
<div class="container-fluid p-0 mb-5 app-carousel-container">
  <app-home-carousel></app-home-carousel>
</div>
<div *ngIf="aboutText" class="container mb-5">
  <button (click)="onEditAboutText()" *ngIf="!isEditingAboutText && isAuthenticated()" class="btn btn btn-primary m-1"><i class="bi bi-pencil"></i></button>
  <div [innerHTML]="aboutText.text" *ngIf="!isEditingAboutText" class="text-center"></div>
  <div *ngIf="isEditingAboutText">
    <textarea [(ngModel)]="aboutText.text" class="form-control w-100"></textarea>
    <button (click)="onAboutTextSaved(aboutText)" class="btn btn-primary mt-2">Save</button>
  </div>
</div>
<div class="container mb-5 app-our-services-container">
  <app-our-services></app-our-services>
</div>
<div class="container mb-5 app-testimonials-container">
  <app-testimonials></app-testimonials>
</div>
<div *ngIf="milyenSzinLennelBook" class="container mb-5 app-book-details-container">
  <app-book-details [book]="milyenSzinLennelBook"></app-book-details>
</div>