<div class="container-fluid p-0 mb-5 app-carousel-container">
  <div *ngIf="isAuthenticated()">
    <button (click)="onEditCarousel()" class="btn btn btn-primary mb-1">
      <i class="bi bi-pencil"></i>
    </button>
  </div>
  <app-carousel
    *ngIf="carouselItems"
    [carouselItems]="carouselItems"
    [isEditing]="isEditingCarousel"
    (carouselItemsSaved)="onCarouselItemSaved($event)"
  ></app-carousel>
</div>
<div class="container mb-5 text-center introduction-container">
  <div class="row">
    <div class="col">
      <p [innerHTML]="introductionText"></p>
    </div>
  </div>
</div>
<div class="container mb-5 app-our-services-container">
  <app-our-services></app-our-services>
</div>
<div class="container mb-5 app-testimonials-container">
  <app-testimonials></app-testimonials>
</div>
<div
  *ngIf="milyenSzinLennelBook"
  class="container mb-5 app-book-details-container"
>
  <app-book-details [book]="milyenSzinLennelBook"></app-book-details>
</div>
