<div class="container">
  <div class="row">
    <div class="col my-2 d-flex justify-content-between">
      <h1 class="text-center mb-5 mt-3">Könyvek</h1>
      <div *ngIf="!isCreatingBook && !isEditingBook && isAuthenticated()">
        <button (click)="createBook()" class="btn btn-primary">
          <i class="bi bi-plus-lg"></i> Add New Book
        </button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="isCreatingBook">
    <div class="col my-2">
      <app-book-details-edit
        *ngIf="newBook"
        [book]="newBook"
        (bookSaved)="onBookSaved()"
        (cancel)="onEditBookCanceled()"
      ></app-book-details-edit>
    </div>
  </div>
  <div class="row" *ngIf="isEditingBook">
    <div class="col my-2">
      <app-book-details-edit
        *ngIf="editedBook"
        [book]="editedBook"
        (bookSaved)="onBookSaved()"
        (cancel)="onEditBookCanceled()"
      ></app-book-details-edit>
    </div>
  </div>

  <div class="row" *ngIf="!isCreatingBook && !isEditingBook">
    <div class="col col-lg-12 my-2" *ngFor="let book of books; let i = index">
      <app-admin-header
        [index]="i"
        [maxIndex]="books.length - 1"
        (edit)="editBook(book)"
        (delete)="deleteBook(book.id)"
        (moveUp)="moveUpBook(i)"
        (moveDown)="moveDownBook(i)"
        [isVisible]="book.visible"
        (visible)="onVisibleBook(book)"
      ></app-admin-header>
      <app-book-details
        [book]="book"
        [showAttachments]="true"
      ></app-book-details>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col my-2 d-flex justify-content-between">
      <h1 class="text-center mb-5 mt-3">Publikációk</h1>
      <div
        *ngIf="
          !isCreatingPublication && !isEditingPublication && isAuthenticated()
        "
      >
        <button (click)="createPublication()" class="btn btn-primary">
          <i class="bi bi-plus-lg"></i> Add New Publication
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isCreatingPublication">
    <div class="col my-2">
      <app-publication-details
        [publication]="newPublication!"
        [editMode]="isCreatingPublication"
        (save)="onCreatePublication($event)"
        (cancel)="onCancelPublication()"
      ></app-publication-details>
    </div>
  </div>
  <div class="row">
    <div
      class="col col-12 my-2"
      *ngFor="let publication of publications; let j = index"
    >
      <app-admin-header
        [index]="j"
        [maxIndex]="publications.length - 1"
        [isVisible]="publication.visible"
        (edit)="onEditPublication(publication)"
        (delete)="onDeletePublication(publication.id)"
        (moveUp)="moveUpPublication(j)"
        (moveDown)="moveDownPublication(j)"
        (visible)="onVisiblePublication(publication)"
      ></app-admin-header>
      <app-publication-details
        [publication]="publication"
        [editMode]="publication === editedPublication"
        (save)="onSavePublication($event)"
        (cancel)="onCancelPublication()"
      ></app-publication-details>
    </div>
  </div>
</div>
