<div class="container">
  <div class="row">
    <div class="col my-2 d-flex justify-content-between">
      <h1 class="text-center mb-5 mt-3">Könyvek</h1>
      <div *ngIf="!isCreating && !isEditing && isAuthenticated()">
        <button
          *ngIf="!isChangingOrder"
          (click)="createBook()"
          class="btn btn-primary"
        >
          <i class="bi bi-plus-lg"></i> Add New Book
        </button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="isCreating">
    <div class="col my-2">
      <app-book-detailes-edit
        *ngIf="newBook"
        [book]="newBook"
        (bookSaved)="onBookSaved()"
      ></app-book-detailes-edit>
    </div>
  </div>
  <div class="row" *ngIf="isEditing">
    <div class="col my-2">
      <app-book-detailes-edit
        *ngIf="editedBook"
        [book]="editedBook"
        (bookSaved)="onBookSaved()"
      ></app-book-detailes-edit>
    </div>
  </div>

  <div class="row" *ngIf="!isCreating && !isEditing">
    <div class="col col-lg-12 my-2" *ngFor="let book of books; let i = index">
      <app-admin-header
        [index]="i"
        [maxIndex]="books.length - 1"
        (edit)="editBook(book)"
        (delete)="deleteBook(book.id)"
        (moveUp)="moveUp(i)"
        (moveDown)="moveDown(i)"
      ></app-admin-header>
      <app-book-details
        [book]="book"
        [showAttachments]="true"
      ></app-book-details>
    </div>
  </div>
</div>
