<!-- Search bar -->
<!-- Filter by year -->

<!-- List of projects -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="container">
        <h1 class="text-center mb-5 mt-3">Projektek</h1>
        <div class="row">
          <div class="col-lg-6 mb-3">
            <ng-container *ngFor="let project of projects; let i = index">
              <ng-container *ngIf="i % 2 !== 1">
                <app-project-card [project]="project"></app-project-card>
              </ng-container>
            </ng-container>
          </div>
          <div class="col-lg-6 mb-3">
            <ng-container *ngFor="let project of projects; let i = index">
              <ng-container *ngIf="i % 2 !== 0">
                <app-project-card [project]="project"></app-project-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
