<div class="row">
  <div class="col">
    <h1 class="text-center mb-5">Szolgáltatásaink</h1>
    <button class="btn btn-primary mb-3" (click)="onAddNewService()">Add New Service</button>
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let service of ourServices; let i = index">
          <div class="card" *ngIf="!service.isEditing">
            <img
              src="{{ service.image }}"
              class="card-img-top"
              alt="{{ service.title }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ service.title }}</h5>
              <p class="card-text">{{ service.description }}</p>
              <app-admin-header
                [index]="i"
                [maxIndex]="ourServices.length - 1"
                [isVisible]="service.visible"
                (edit)="onEdit(service)"
                (delete)="onDelete(service)"
                (moveUp)="onMoveUp($event)"
                (moveDown)="onMoveDown($event)"
                (visible)="onVisible($event)"
              ></app-admin-header>
            </div>
          </div>
          <div class="card" *ngIf="service.isEditing">
            <div class="card-body">
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="service.title" />
              </div>
              <div class="mb-3">
                <span for="image" class="form-label">Image </span>
                <app-asset-selector (assetSelected)="onImageSelected(service, $event)"></app-asset-selector>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="10" [(ngModel)]="service.description"></textarea>
              </div>
              <button class="btn btn-primary me-2" (click)="onSave(service)">Save</button>
              <button class="btn btn-secondary" (click)="onCancel(service)">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
