<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5 mt-3">Projektek</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div *ngIf="isCreating">
        <app-project-card-edit
          [project]="newProject!"
          (projectSaved)="onProjectCreated()"
        ></app-project-card-edit>
      </div>

      <div *ngIf="isEditing">
        <app-project-card-edit
          [project]="editedProject!"
          (projectSaved)="onProjectUpdated()"
        ></app-project-card-edit>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!isCreating && !isEditing">
    <div class="row mb-4">
      <div class="col-lg-6">
        <div class="search-bar mb-4">
          <label for="search" class="form-label">Keresés: </label>
          <input
            type="text"
            id="search"
            class="form-control"
            (input)="filterProjectsBySearch($event)"
            placeholder="Keress cím, időpont, helyszín vagy leírás alapján"
            [disabled]="isChangingOrder"
            [value]="isChangingOrder ? '' : searchValue"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-4">
          <p style="margin-bottom: 8px;">Edit: </p>
          <button
            *ngIf="isLoggedIn && !isChangingOrder"
            class="btn btn-primary mx-1"
            (click)="createProject()"
          >
            Create Project
          </button>
          <button
            *ngIf="isLoggedIn && !isChangingOrder"
            class="btn btn-secondary mx-1"
            (click)="startChangingOrder()"
          >
            Change Order
          </button>
          <button
            *ngIf="isLoggedIn && isChangingOrder"
            class="btn btn-success mb-4"
            (click)="saveOrder()"
          >
            Save Order
          </button>
        </div>
      </div>
    </div>

    <div class="row d-none d-lg-flex">
      <div class="col-lg-6 mb-3">
        <ng-container *ngFor="let project of filteredProjects; let i = index">
          <ng-container *ngIf="i % 2 !== 1">
            <app-project-card
              [project]="project"
              (editProject)="editProject($event)"
              (deleteProject)="deleteProject($event)"
              [isChangingOrder]="isChangingOrder"
              [maxOrder]="filteredProjects.length - 1"
              (moveUp)="moveUp(i)"
              (moveDown)="moveDown(i)"
            ></app-project-card>
          </ng-container>
        </ng-container>
      </div>
      <div class="col-lg-6 mb-3">
        <ng-container *ngFor="let project of filteredProjects; let i = index">
          <ng-container *ngIf="i % 2 !== 0">
            <app-project-card
              [project]="project"
              (editProject)="editProject($event)"
              (deleteProject)="deleteProject($event)"
              [isChangingOrder]="isChangingOrder"
              [maxOrder]="filteredProjects.length - 1"
              (moveUp)="moveUp(i)"
              (moveDown)="moveDown(i)"
            ></app-project-card>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="row d-lg-none">
      <div class="col mb-3">
        <ng-container *ngFor="let project of filteredProjects; let i = index">
          <app-project-card
            [project]="project"
            (editProject)="editProject($event)"
            (deleteProject)="deleteProject($event)"
            [isChangingOrder]="isChangingOrder"
            [maxOrder]="filteredProjects.length - 1"
            (moveUp)="moveUp(i)"
            (moveDown)="moveDown(i)"
          ></app-project-card>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
