<ng-container *ngIf="book">
  <div class="row row-book-details mb-4">
    <div class="col" [ngStyle]="{ 'background-color': book.backgroundColor, 'color': book.color }">
      <h2 class="mb-3">{{ book.title }}</h2>
      <p [innerHTML]="book.description"></p>
    </div>
  </div>
  <div class="row" *ngIf="pages">
    <div class="col">
      <app-book [pages]="pages"></app-book>
    </div>
  </div>
  <div *ngIf="showAttachments && attachments?.length" class="row pdfRow mt-5">
    <h3>Letölthető mellékletek</h3>
    <div class="col-md-6" *ngFor="let attachment of attachments">
      <ul class="list-group">
        <li class="list-group-item">
          <a [href]="attachment.url" target="_blank" class="pdf-link">{{
            attachment.title
          }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="book.forSale" class="row" id="orderNow">
    <div class="text-center mt-4">
      <button
        id="orderNowButton"
        class="btn btn-success btn-lg"
        (click)="onOrderNowClick()"
      >
        Megrendelem a könyvet!
      </button>
    </div>
  </div>
</ng-container>
