<ng-container *ngIf="book$">
  <div class="row row-book-details">
    <div class="col">
      <h2 class="mb-3">{{ (book$ | async)?.title }}</h2>
      <p [innerHTML]="(book$ | async)?.description"></p>
    </div>
  </div>
  <div class="row" *ngIf="pages">
    <div class="col">
      <app-book [pages]="pages"></app-book>
    </div>
  </div>
  <div *ngIf="showAttachments && attachments?.length" class="row pdfRow mt-5">
    <h2>Letölthető mellékletek</h2>
    <div class="col-md-6" *ngFor="let attachment of attachments">
      <ul class="list-group">
        <li class="list-group-item">
          <a [href]="attachment.url" target="_blank" class="pdf-link">{{
            attachment.title
          }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="showOrderButton" class="row" id="orderNow">
    <div class="text-center mt-4">
      <button
        id="orderNowButton"
        class="btn btn-success btn-lg"
        (click)="onOrderNowClick()"
      >
        Megrendelem a könyvet!
      </button>
    </div>
  </div>
</ng-container>
