:root {
  --primary-background-color: #3b2e36;
}

html {
  height: 100%;

  body {
    height: 100%;
    color: #333;

    app-root {
      height: 100%;
      display: flex;
      flex-direction: column;

      .page {
        flex-grow: 1
      }
    }

    h5 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }

    a {
      color: #ed145b;
      text-decoration: none;
    }

    a:hover {
      color: darken(#ed145b, 10%);
      text-decoration: underline;
    }
  }
}