<div class="container-fluid p-0 mb-5">
  <div class="row m-0">
    <div class="col p-0">
      <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            *ngFor="let image of carouselImages; let i = index"
            type="button"
            [attr.data-bs-target]="'#homeCarousel'"
            [attr.data-bs-slide-to]="i"
            [class.active]="i === 0"
            [attr.aria-current]="i === 0 ? 'true' : null"
            [attr.aria-label]="'Slide ' + i"
          ></button>
        </div>
        <div class="carousel-inner">
          <div
            *ngFor="let image of carouselImages; let i = index"
            class="carousel-item"
            [class.active]="i === 0"
          >
            <img
              src="{{ image }}"
              class="d-block w-100"
              alt="carousel_{{ i }}"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#homeCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#homeCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5 text-center">
  Célunk a mentálhigiénés szemlélet és a művészeti eszközök ötvözése olyan
  programokba építve melyek elsősorban a közösségfejlesztést, csapatépítést és
  önismeretet célozzák. Az általunk alkalmazott eszközök egy része a
  <a
    href="https://muralmoral.hu/"
    target="_blank"
    rel="noopener"
    style="color: #ed145b"
    >Mural Moral Módszer</a
  >&nbsp; eszköztárát követik. Más eszközök mentálhigiénés szakirodalmat vesznek
  alapul, valamint egyesek közülük saját fejlesztésűek. Hiszünk abban, hogy a
  művészetekre épülő kreatív eszközök segítenek közelebb kerülni önmagunkhoz,
  feloldani csoporton belüli nehézségeket és segítenek a csoportkohézió
  alakításában. <br />A műhelymunkák végén legtöbbször egy kültéri falfestés
  valósul meg, ahol a feldolgozott témák, üzenetek jelennek meg a nagyközönség
  számára. A festés egy fontos része a folyamatnak, de nem a végcélja. A cél, az
  üzenet maga! A közös gondolkodás, az elmélyülés egy-egy témában.
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Szolgáltatásaink</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-3" *ngFor="let service of services">
            <div class="card">
              <img
                src="{{ service.image }}"
                class="card-img-top"
                alt="{{ service.title }}"
              />
              <div class="card-body">
                <h5 class="card-title">{{ service.title }}</h5>
                <p class="card-text">{{ service.content }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5">Rólunk írták</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li
          class="list-group-item d-flex flex-column flex-md-row align-items-start"
          *ngFor="let testimonial of testimonials; let i = index"
          [ngClass]="{ 'flex-md-row-reverse': i % 2 !== 0 }"
        >
          <img
            src="{{ testimonial.image }}"
            alt="{{ testimonial.author }}"
            class="img-thumbnail me-3 mb-3 mb-md-0"
          />
          <div>
            <h5 class="mb-1">{{ testimonial.title }}</h5>
            <p
              class="mb-1"
              [innerHTML]="
                testimonial.expanded
                  ? testimonial.content
                  : (testimonial.content | slice : 0 : 600) + '...'
              "
            ></p>
            <button
              class="btn btn-link p-0"
              (click)="testimonial.expanded = !testimonial.expanded"
            >
              {{ testimonial.expanded ? "Kevesebb" : "Tovább" }}
            </button>
            <p class="text-muted mt-2">
              {{ testimonial.author }}, (<a
                [href]="testimonial.link"
                target="_blank"
                class="text-muted"
                >Forrás</a
              >)
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
