h5 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

.carousel-inner {
  height: 70vh;

  img {
    display: flex;
    align-items: center;
  }

  @media (max-width: 992px) {
    height: unset;
  }
}

.list-group-item {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  margin-bottom: 10px;
  display: flex;
  align-items: start;
}

.img-thumbnail {
  width: 100%;
  height: auto;
  max-width: 300px;
  object-fit: cover;
  margin-right: 15px;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-md-row-reverse {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .img-thumbnail {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.bookDetails {
  background: linear-gradient(225deg, #7bc8b7 0%, #7ec3b6 100%);
  text-align: left;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
