<div class="row row-book-details">
  <div class="col">
    <h2 class="mb-3">{{ book.title }}</h2>
    <p [innerHTML]="book.description"></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-book></app-book>
  </div>
</div>
<!-- <div class="row pdfRow mt-5">
  <div class="col">
    <div class="row">
      <h2>Letölthető mellékletek</h2>
      <div class="col-md-6" *ngFor="let attachment of book.attachments">
        <ul class="list-group">
          <li class="list-group-item">
            <a [href]="attachment.url" target="_blank" class="pdf-link">{{
              attachment.title
            }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
<div class="row" id="orderNow">
  <div class="text-center mt-4">
    <button
      id="orderNowButton"
      class="btn btn-success btn-lg"
      (click)="onOrderNowClick()"
    >
      Megrendelem a könyvet!
    </button>
  </div>
</div>

<div
  class="modal"
  id="orderModal"
  tabindex="-1"
  aria-labelledby="orderModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">
          {{ orderNowModal.title }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onCloseOrderModal()"
        ></button>
      </div>
      <div class="modal-body">
        <p [innerHTML]="orderNowModal.content"></p>
      </div>
    </div>
  </div>
</div>
